black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
langchain
chromadb
openai
tiktoken
pypdf2
gdown
python-box==6.0.2
langchain_community
-e .
